# ==== CMake ====
# CMake build files
build/
**/*.img

# Doxygen build artifacts
docs/html/
docs/latex/

firmware/

**CMakeCache.txt
CMakeFiles/
**/cmake_install.cmake
**/Makefile
**/compile_commands.json

# ==== Build Artifacts ====
**/.bin
**/*.elf
**/*.iso
**/*.img
**/*.efi
**/*.o
**/.a
**/*.so

# ==== IDE ====
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ==== Analysis Tools ====
.clangd/
.cache/

# ==== Local Logs & Tests ====
*.log
*.txt
