# ==== CMake ====
# CMake build files
build/
**/*.img
firmware/

# ==== Build Artifacts ====
**/.bin
**/*.elf
**/*.iso
**/*.img
**/*.efi
**/*.o
**/.a
**/*.so

# ==== IDE ====
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ==== Analysis Tools ====
.clangd/
.cache/

# ==== Local Logs & Tests ====
*.log
*.txt
